* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: '微軟正黑體';
  /* outline: 1px solid red; */
}
body {
  width: 100%;
}
img {
  display: block;
  vertical-align: top;
}
h3 {
  font-size: 25px;
}

.header {
  background-image: url(img/photo-1521036392421-35d436448d6a.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
}
.navbar {
  padding-top: 30px;
}
.navbar h1 {
  float: left;
  width: 300px;
  margin-left: 30px;
}
.navbar h1 img {
  width: 100%;
}
.navbar ul {
  float: right;
  margin-right: 30px;
}
.navbar ul li {
  list-style-type: none;
  display: inline-block;
}
.navbar ul li a {
  color: black;
  display: block;
  padding: 10px;
  transition: 0.2s;
}
.navbar ul a:hover {
  color: rgb(23, 68, 21);
  font-size: 18px;
}
.navbar ul .login {
  color: rgb(8, 209, 8);
  border: 2px solid rgb(5, 136, 5);
  border-radius: 10px;
  transition: 0.2s;
}
.navbar ul .login:hover {
  color: white;
  background-color: rgb(5, 136, 5);
}
.navbar::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
footer {
  text-align: center;
}

.item {
  float: left;
  width: 50%;
  padding: 20px;
}
section::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}
section {
  margin: 50px;
}
.item img {
  width: 100%;
}
.item .text {
  margin-top: 130px;
}
.item .text h2 {
  margin-bottom: 50px;
}
.item .text a {
  display: inline-block;
  color: wheat;
  border: 1px solid black;
  background-color: black;
  padding: 30px;
  border-radius: 10px;
}
@media screen and (max-width: 601px) {
  .header {
    background-image: url(img/photo-1521036392421-35d436448d6a.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
  }
  .navbar {
    padding-top: 10px;
    text-align: center;
  }
  .navbar h1 {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .navbar h1 img {
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .navbar ul {
    float: none;
    margin-right: 0;
  }

  .item {
    float: none;
    width: 100%;
  }
  .item .text {
    margin-top: 20px;
  }
}
